body {
    font-family: 'Roboto', sans-serif;
}

label {
    margin-top: 10px;
}

#submitRoute {
    margin-top: 10px;
}

h1, h3, label {
 color: #1E90FF;
}


#slider {
    margin: 10px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}

#map {
    margin-top: 30px;
    height: 1000px;
}

/* --- form --- */
.form {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#elevation {
    margin-right: 10px;
}

label {
    margin-right: 3px;
    font-size: 15px
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

