body {

}

label {
    margin-top: 10px;
}

#submitRoute {
    margin-top: 10px;
}

/* --- form --- */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

.form-inline {
    flex-direction: column;
    align-items: stretch;
}